.first {
  font-size: 1rem; 
  font-weight:bolder ; 
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2rem; 
  ;
}


  .fourth img{
      height:500px;
      display: flex;
      object-fit:cover;
      border-radius:50px;
      box-shadow: -1px 1px 62px -18px rgba(0,0,0,0.19);
  }