.aboutrescue h2{
    margin-top: 20px;
    
}

.aboutrescue h2:hover{
    text-decoration: underline;
    text-decoration-color: rgb(112, 214, 103);
}

.fifth img{
    height: 550px;
    width: 700px;
    border-radius: 50%;
}
.fourth img{
    height: 550px;
    width: 700px;
    border-radius: 50%;
}