.form-container{
    margin:4rem 6rem;
    color:#2a2a2a;

}

.form-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction:column;
    width:50%;
    margin: auto;


}

.form-container input{
    height:3rem;
    padding:0 1rem;
    margin-bottom:2rem;
    border-radius:3rem;
    border:1px solid #2a2a2a;

}

::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }

.form-container textarea{
       
        padding:1rem;
        margin-bottom:2rem;
        border-radius:3rem;
        border:1px solid #2a2a2a;
        resize: none;
       
                            
    }

.form-container button{
    cursor: pointer;
    display : inline;
    font-size: 16px;
    padding: 15px 32px;
    border-radius: 5px;
    background-color: #222;
    color : azure;
    transition: all 0.2s ease-in-out;
}

.form-container button:hover{
    background-color: #7a78cb;
    color : azure;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
                    }

@media screen and (max-width: 768px) {
    .form-container {
        margin: 1rem;
    }

    .form-container form {
        padding-top: 1rem;
    }

    .form-container input,
    .form-container textarea {
        margin-bottom: 1rem;
    }
}


