.hero{
    width: 100%;
    height:100vh;
    position: relative;
    overflow: hidden;
}

.hero-mid{
    width: 100%;
    height:70vh;
    position: relative;
}

.hero-mid h1{
    padding-top: 4rem !important;
    font-weight: bolder;

}

img{
    width:100%;
    height:100%;
    object-fit: cover;
    filter: brightness(50%);
}

.hero-text{
    position: absolute;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 100%;
}

.hero-text h1{
    font-size: 4.5rem;
    font-weight: 900;
    background:#fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-text p{
    font-size: 3rem;
    font-weight: 300;
    color:#fff;
    padding: 0.5rem 0 2rem 0;
}

.hero-text .show{
    text-decoration: none;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius:6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #222;

}
.hero-text .hide{
    display: none;
}

.show:hover{
    color: none;
    cursor: pointer;
    border: 0px;
  }

  .show:active{
    transform: scale(0.85);
  }

  
  .show:before {
    content: "";
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0%;
    left: -50%;
    top: -50%;
    bottom: 30%;
    background: #379237;
    transition: all 0.6s ease;
    z-index: -20;
    opacity: 0.5;
    
  }

  .show:hover:before {
    top: 0;
    left: 0;
    border: 0px;
    transform: rotate(180deg);
  }

  .show:after {
    content: "";
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0%;
    left: 100%;
    top: 100%;
    bottom: 30%;
    background: #2ba8d2;
    transition: all 0.6s ease;
    z-index: -20;
    opacity: 0.5;
  }

  .show:hover:after {
    top: 0;
    left: 50%;
    border: 0px;
    transform: rotate(180deg);
  }

@media screen and (max-width:555px) {
    .hero-text h1 {
        padding: 10px 20px;
    }

    .hero-text p{
        font-size:1.1rem;
        padding:0 0 2rem 0;
    }

    .hero-text .show{
        padding: .6rem 1.1rem;
        border-radius:6px;
        font-size: 1rem;
        
    }
    
}